
<%- include('../header.ejs') %>
<!-- main body start  -->
<div class="row">
    <div class="col-sm-12">
        <div class="container-xxl">
            <div class="row my-4 mx-3">
                <div class="col-md-2">
                    <div class="sidebar">
                        <div class="sidebar-header">
                            <img src="../image/dashboard.png" alt="lock image" class="sidebar-logo">
                        </div>
                        <div class="sidebar-menu">
                            <a href="/admin/userDisplay" class="sidebar-item" target="iframe_a">
                                <i class="fa-solid fa-users p-2"></i>
                                <span class="sidebar-text">  All User</span>
                            </a>
                            <a href="/admin/userFormDisplay" class="sidebar-item" target="iframe_a">
                                <i class="fa-solid fa-store p-2"></i>
                                <span class="sidebar-text"> Total Admission</span>
                            </a>
                            <a href="/editProfile/<%= id %>" class="sidebar-item" target="iframe_a">
                                <i class="fa-solid fa-address-card p-2"></i>
                                <span class="sidebar-text"> Update Profile</span>
                            </a>
                            <a href="/changePassword" class="sidebar-item" target="iframe_a">
                                <i class="fa-solid fa-user-pen p-2"></i>
                                <span class="sidebar-text"> Change Password</span>
                            </a>
                            <a href="/viewProfile/<%= id %>" class="sidebar-item" target="iframe_a">
                                <i class="fa-solid fa-street-view p-2"></i>
                                <span class="sidebar-text"> View Profile</span>
                            </a>
                            <a href="/logout" class="sidebar-item">
                                <i class="fa-solid fa-right-from-bracket p-2"></i>
                                <span class="sidebar-text"> Logout</span>

                            </a>
                           

                        </div>
                    </div>
                </div>
                <div class="col-md-10  pt-5">
                    <iframe src="/admin/recentContact" name="iframe_a" height="505px" width="100%"
                        title="Iframe Example"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- main body End  -->

<%- include('../footer.ejs') %>