<%- include('./header2.ejs') %>

<div class="container">
    <div class="row pt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card p-3">
                <h3 class="text-center pb-3">Register Here</h3>
                  
                <% if(message.length > 0){ %>
                  <div class="alert alert-danger">
                     <%= message %>
                  </div>
      
              <% } %>
              <form action="/registerInsert" method="post" enctype="multipart/form-data">
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-default">User Name</span>
                      <input type="text" name="userName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">@</span>
                      <input type="email" name="email" class="form-control" placeholder="abc@gmail.com" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                      <input type="password" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-default">Confirm Password</span>
                      <input type="password" name="confirmpassword" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                      <input type="file" name="image" class="form-control" id="" required>
                      <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>
                    <div class="form-group text-center pb-2">
                      <button type="submit" class="btn btn-lg btn-block px-5" style="background: #12587a; color:#ffff;">Register</button>
                  </div>
              </form>
                
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>









<%- include('./footer.ejs') %>